# STEP 1 : EXECUTE FUNCTIONS TO CREATE AND DELETE CLUSTERS

## 1. Run the "create_delete_cluster" script
**This scripts does the following**:
- Imports relevant libraries
- Reads the config files for credentials
- Creates clients for IAM, EC2, S3 and Redshift
- Defines functions to Create IAM Role, Redshift cluster and to Delete Cluster and Resources

In [4]:
% run -i create_delete_cluster.py

## 2. Create IAM and Redshift Cluster

In [2]:
# Create IAM
createIAM()

1.1 Creating a new IAM Role
1.2 Attaching Policy

'arn:aws:iam::687742885185:role/dwhRole'

In [3]:
# Create Redshift
createRedshift('arn:aws:iam::687742885185:role/dwhRole')

In [3]:
# Check the Status of Redshift Cluster
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cfjqvywb3t0g.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0e097776
7,NumberOfNodes,4

# STEP 2: Run "create_tables" script
**This scripts does the following**:
- Drops all the tables defined in sql_queries.py from the database if they already exists
- Creates new tables defined in sql_queries.py in database

In [1]:
# Create Table Script
% run -i create_tables.py

Tables Dropped Sucessfully
Tables Created Sucessfully

# STEP 3: Run "etl.py" script
**This scripts does the following**:
- Creates Staging tables
- Populates the Analytical in redshift tables from Staging tables

In [2]:
# Run Etl.py script
% run -i etl.py

Tables Staged Sucessfully
Tables Inserted Sucessfully

# STEP 4. Delete Cluster and Resources
**This scripts does the following**:
- Deletes the cluster at the end of session
- Deletes all the resources

In [5]:
# Delete Redshift Cluster
deleteCluster()

In [7]:
# Check the Status of Redshift Cluster
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cfjqvywb3t0g.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0e097776
7,NumberOfNodes,4

In [7]:
# Delete the Resources
deleteResources()

In [ ]:
songs=14896
artists=10025
time=8023
users=104
songplays=333

staging_songs=14896
staging_events=8056